.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.panelListWrap{
    display: flex;
    flex: 1
}

.listWrap{
    flex:1
}

.filterPanelWrap{
    flex-basis: 280px;
}

.panelListWrap, .filterPanelWrap, .listWrap{
    overflow-y: auto;

}